Source: jquery-ui-timepicker
Maintainer: Balazs Benedek <balazs.benedek@balabit.com>
Priority: extra
Section: web
Build-Depends: debhelper (>= 7)
Standards-Version: 1.5.6
Homepage: http://trentrichardson.com/examples/timepicker/

Package: jquery-ui-timepicker
Architecture: all
Description: The timepicker addon adds a timepicker to jQuery UI Datepicker
